<mat-toolbar>
    <span>
        <mat-icon>assignment</mat-icon> <span> Categorias</span>

    </span>
</mat-toolbar>

<form>
    <div>
        <mat-form-field class="full-width">
            <mat-label>Nome:</mat-label>
            <input [(ngModel)]="category.nameCategory" type="text" matInput name="nameCategory" placeholder="Digite o nome da categoria" required />
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Descrição:</mat-label>
            <input [(ngModel)]='category.descriptionCategory' type="text" matInput name="descriptionCategory" placeholder="Digite a decrição da categoria" required />
        </mat-form-field>
        <button (click)="saveCategory" mat-raised-button color="primary">Salvar</button>
    </div>
</form>